<?php $this->extend('/IntOutCashsEntities/view_partes/tabs'); ?>

<?php $this->start('other_payment'); ?>

<style type="text/css">

    .nav-link {
        cursor: pointer;
    }

    .nav-tabs {
        border-bottom: 1px solid #f05f40;
    }

    .btn-next-due-dates-selected {
        color: #f05f40;
        background-color: #e6e6e6;
        border-color: #f05f40;
    }

</style>

<div class="col-xl-9">

    <div id="btns-tools-other-payments">
        <div class="text-right btns-tools-other-payments margin-bottom-5">

            <?php
                echo $this->Html->link(
                    '<span class="glyphicon icon-filter" aria-hidden="true"></span>',
                    'javascript:void(0)',
                    [
                    'title' => 'Filtar por Columnas',
                    'class' => 'btn btn-default btn-filter-column',
                    'data-toggle' => 'modal', 'data-target' => '#modal-filter-other-payment',
                    'escape' => false
                ]);

                echo $this->Html->link(
                    '<span class="glyphicon icon-file-excel" aria-hidden="true"></span>',
                    'javascript:void(0)',
                    [
                    'title' => 'Exportar tabla',
                    'class' => 'btn btn-default btn-export-other-payment ml-1',
                    'escape' => false
                ]);
            ?>

        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered" id="table-other-payment">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Tipo</th>
                        <th>Cód.</th>
                        <th>Cliente</th>
                        <th>Concepto</th>
                        <th>Ingreso</th>
                        <th>Forma de Pago</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-filter-other-payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filtrar por columnas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <?= $this->Form->create() ?>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="created">Fecha</label>
                                <div class='input-group date' id='created-other-payment-datetimepicker'>
                                    <span class="input-group-addon mr-0">Fecha</span>
                                    <input name="input-created-other-payment" id="input-created-other-payment" type='text' class="column_search form-control datetimepicker" data-column="0" />
                                    <span class="input-group-addon mr-0">
                                        <span class="glyphicon icon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <?= $this->Form->input('customer_code', ['label' => __('Cód.'), 'class'=> 'column_search', 'data-column' => 2]) ?>
                            <?= $this->Form->input('customer.name', ['label' => __('Cliente'), 'class'=> 'column_search', 'data-column' => 3]) ?>
                        </div>
                        <div class="col-md-6">
                            <?= $this->Form->input('concept', ['label' => __('Concepto'), 'class'=> 'column_search', 'data-column' => 4]) ?>
                            <?= $this->Form->input('in_value', ['label' => __('Ingreso'), 'class'=> 'column_search', 'data-column' => 5]) ?>
                            <?= $this->Form->input('payment_method_id', ['label' => __('Forma de Pago'), 'class'=> 'column_search', 'data-column' => 6, 'options' => $payment_methods]) ?>
                        </div>

                  </div>

                <?= $this->Form->end() ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-clear-filter" >Limpiar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"> 

    var cash_entity = <?= json_encode($cashEntity) ?>;
    var last_aperture_number = <?= json_encode($number) ?>;

    $(document).ready(function () {

        $('#in-value').keyup(function() {

           if ($(this).val() > 0) {
               $('#out-value').val(0.00);
           }
        });

        $('#out-value').keyup(function() {
           if ($(this).val() > 0) {
               $('#in-value').val(0.00);
           }
        });

        //formating tabla de cuenta corriente
        $('#table-other-payment').removeClass('display');

		var table_other_payment = $('#table-other-payment').DataTable({
		    "order": [[ 0, 'desc' ]],
		    "autoWidth": true,
		    "scrollY": '450px',
		    "scrollX": true,
		    "scrollCollapse": true,
		    "deferRender": true,
		    "ajax": {
               "url": "/ispbrain/IntOutCashsEntities/get_all_by_number.json",
                "dataSrc": "movements",
                "data": function ( d ) {
                    return $.extend( {}, d, {
                        "number": number
                    });
                },
                "error": function(c) {
                    switch (c.status) {
                        case 400:
                            flag = false;
                            generateNoty('warning', 'Ha ocurrido un error.');
                            break;
                        case 401:
                            flag = false;
                            generateNoty('warning', 'Error, no posee una autorización.');
                            break;
                        case 403:
                            flag = false;
                            generateNoty('warning', 'La sesión ha expirado. Por favor ingrese su credenciales.');

                        	setTimeout(function() { 
                                window.location.href = "/ispbrain";
                        	}, 3000);
                            break;
                    }
                }
		    },
            "columns": [
                { 
                    "data": "created",
                    "render": function ( data, type, row ) {
                        if (data) {
                            var created = data.split('T')[0];
                            created = created.split('-');
                            return created[2] + '/' + created[1] + '/' + created[0];
                        }
                    }
                },
                { 
                    "data": "user_id", //tipo
                    "render": function ( data, type, row ) {
                        return 'Cobranza';
                    }
                },
                { 
                    "data": "customer.code",
                    "render": function ( data, type, row ) {
                        if (data) {
                            return pad(data, 5);
                        }
                        return '';
                    }
                },
                { 
                    "data": "customer.name"
                },
                { 
                    "data": "concept"
                },
                { 
                    "data": "import",
                    "render": $.fn.dataTable.render.number( '.', ',', 2, '' ),
                },
                {
                    "data": "payment_method_id",
                    "type": "options_obj",
                    "options": sessionPHP.paraments.payment_getway,
                    "render": function ( data, type, row ) {
                        var payment_method_name = "";
                        $.each(sessionPHP.paraments.payment_getway, function( index, value ) {
                            if (value.id == data) {
                                payment_method_name = value.name;
                            }
                        });
                        return payment_method_name;
                    }
                },
            ],
		    "columnDefs": [
                 { "type": "date-custom", "targets": [0] },
                 { "width": "10%", "targets": [0, 2, 5] },
                 { "type": "numeric-comma", "targets": [5] }
             ],
		    "language": dataTable_lenguage,
            "pagingType": "numbers",
            "lengthMenu": [[100, 500, 1000, -1], [100, 500, 1000, "Todas"]],
            "dom":
    	    	"<'row'<'col-xl-5'l><'col-xl-3'f><'col-xl-4 tools'>>" +
        		"<'row'<'col-xl-12'tr>>" +
        		"<'row'<'col-xl-5'i><'col-xl-7'pb>>",
		});

		$('#table-other-payment_wrapper .tools').append($('#btns-tools-other-payment').contents());

        $('#btns-tools-other-payment').show();

        $('.column_search').on( 'keyup', function () {

            table_other_payment
                .columns( $(this).data('column') )
                .search( this.value )
                .draw();

            checkStatusFilter();
        });

        $('#created-other-payment-datetimepicker').datetimepicker({
            locale: 'es',
            format: 'DD/MM/YYYY'
        }).on('dp.change', function (ev) {

            table_other_payment
                .columns( 0 )
                .search( $('#input-created-other-payment').val() )
                .draw();

            checkStatusFilter();
        });

        $('select[name="payment_method_id"]').change(function() {

            table_other_payment
                .columns( 6 )
                .search( $(this).val() )
                .draw();

            checkStatusFilter();
        });

        $('.btn-clear-filter').click(function() {

            $('.column_search').val('');
            table_other_payment.search( '' ).columns().search( '' ).draw();
            checkStatusFilter();
        });

        var username = '<?= $cashEntity->user->username ?>';

        $(".btn-export-other-payment").click(function() {

            bootbox.confirm('Se descargará un archivo Excel', function(result) {
                if (result) {

                   $('#table-other-payment').tableExport({
                       tableName: 'Parte ' + last_aperture_number + '- Resp. ' + username,
                       fileName: 'lalal',
                       type:'excel',
                       escape:'false',
                       columnNumber: [5] 
                   });
                } 
            });
        });

        $('.btn-refresh').click(function() {
            table_inoutcash.ajax.reload();
            table_inoutcash.draw();
        });

        $('a[id="other_payment-tab"]').on('shown.bs.tab', function (e) {
            table_other_payment.draw();
            table_other_payment.ajax.reload();
        });

    });

    // Jquery draggable modals
    $('.modal-dialog').draggable({
        handle: ".modal-header"
    });

</script>

<?php $this->end(); ?>
