
    .sub-title{
        color: #696868;
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    
    .sub-title-sm{
        color: #696868;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .btn-default {
        color: #696868;
    }
    
    .btn-default:hover, .btn-default:active {
        color: #f05f40;
        background-color: #e6e6e6;
        border-color: #f05f40;
    }
    
    label{
        color: #696868;
    }
    
    td > span.green{
        color: green;
        /*font-weight: bold;*/
    }
    
    td > span.red{
        color: red;
        /*font-weight: bold;*/
    }
    
    .grey{
        color: #696868;
    }
    
    .table > thead > tr > th {
        text-align: center;
        vertical-align: middle;
    }
    
    .table > tbody > tr > td {
        text-align: center;
    }
    
    
    a{
       color: #696868;
    }
 
    
    a:focus, a:hover{
        color: #f05f40;
        text-decoration: none;
    }
    
    .glyphicon{
        color: #696868;
        font-size: 16px;
    }
     
    .glyphicon:focus, .glyphicon:hover, .glyphicon:active {
        color: #f05f40;
    }
    
    .lateral-nav{
        border-right: 1px solid #e5e5e5;
        /*height: 500px;*/
    }
 
    .pagination>li>a, .pagination>li>span{
        color: #696868 ;
    }
    
    .pagination>.active>a,
    .pagination>.active>a:focus,
    .pagination>.active>a:hover, 
    .pagination>.active>span,
    .pagination>.active>span:focus,
    .pagination>.active>span:hover{
        color: white;
        background-color: #f05f40 !important;
        border-color: #f05f40 !important;
    }
    
    .pagination>li>a:focus,
    .pagination>li>a:hover,
    .pagination>li>span:focus,
    .pagination>li>span:hover{
        color: #696868 ;
        border-color: #f05f40 !important;
    }
    
    thead > tr > th{
       color: #696868 ;
    }
    
    thead > tr > th:hover, thead > tr > th:active{
        color: #f05f40 ;
        /*/border-color: #f05f40 !important;*/
    }
    
    .btn-primary{
        color: white;
        background-color: #696868;
        border-color: #696868;
    }
    
     .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
        color: white;  
        background-color: #f05f40 !important;
        border-color: #f05f40 !important;
    }

   .btn-action{
        margin: 0 5px 0 5px;
        color: #696868;
    }
    
    
    .form-control{
            padding: 3px 6px !important;
            height: 25px !important;
    }
    
    .ui-checkboxradio-label{
        width: 100%;
    }
    
    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active,
    a.ui-button:active,
    .ui-button:active,
    .ui-button.ui-state-active:hover{
        border: 1px solid #a44531;
        background: #f05f40;
        font-weight: normal;
        color: #fff;
        
    }
    
     .ui-autocomplete{
		max-height: 400px;
		overflow-y : auto;
		overflow-x : hidden;
	}
	

    	/*#f05f40 azul geo */
    	/*#f05f40 naranja brain */

