
     body{
        
        color: #5f5f5f !important;
    }


    .sub-title{
        color: #696868;
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .sub-title-sm {
        color: #696868;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
	.modal{
	    
	    overflow-x: hidden;
	    overflow-y: auto;
	    
	}
    
    .grey{
        color: #696868;
    }
    
    a{
       color: #696868;
    }
 
    
    a:focus, a:hover{
        color: #f05f40;
        text-decoration: none;
    }
    
    .glyphicon{
        color: #696868;
        font-size: 16px;
    }
     
    .glyphicon:focus, .glyphicon:hover, .glyphicon:active {
        color: #f05f40;
    }
   
    
    /*.ui-state-active,*/
    /*.ui-widget-content .ui-state-active,*/
    /*.ui-widget-header .ui-state-active,*/
    /*a.ui-button:active,*/
    /*.ui-button:active,*/
    /*.ui-button.ui-state-active:hover{*/
    /*    border: 1px solid #f05f40;*/
    /*    background: #f05f40;*/
    /*    font-weight: normal;*/
    /*    color: #fff;*/
    /*}*/
    
    
    /*.panel-primary > .panel-heading{*/
    /*    background-color: #f05f40;*/
    /*    border-bottom-color: #f05f40;*/
    /*}*/
     
    /*.panel-primary{*/
    /*    border-color:  #f05f40;*/
    /*}*/
    
    .card-header {
        color: #696868 !important; 
    }
    
    .border-dark {
        border-color: #f05f40 !important;
    }
    
    .btn-secondary > span{
        color: white !important ;  
    }
    
    /*body{*/
    /*    overflow: auto !important ;    */
    /*}*/
    
    .confirm-width-sm {
        width: 200px;
        margin: 0 auto;
    }

    .confirm-width-md {
        width: 300px;
        margin: 0 auto;
    }
   
    .margin-left-15{
         margin-left: 15px;
    }
    
    .margin-bottom-5{
        margin-bottom: 5px;
    }
    
    /*.margin-top-5{*/
    /*     margin-top: 5px;*/
    /*}*/
    
    .modal-title {
        color: #696868;
    }

    input[type=checkbox] {
        transform: scale(2.0);
        /*margin-top: 35px;*/
        margin-right: 10px;
        margin-left: 5px;
    }
    
    .w-25{
        width: 25% !important; 
    }
    
    .w-75{
        width: 75% !important; 
    }
    
    .input-group .form-control {
         z-index: 0 !important; 
    }
    
    
    .input-group .form-control:active, .input-group .form-control:focus, .input-group .form-control:hover {
        z-index: 0 !important;
    }
    
    .border-naranja {
        border-color: #f05f40!important;
    }
    
    .text-naranja {
        color: #f05f40!important;
    }

        
    .form-control:focus {
        border-color: #f05f40 !important;
        box-shadow: 0 0 0 0.2rem #f05f406b !important;
    }
        


    .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
        border-color: #686868 #686868 #686868;
    }
    
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        border-color: #f05f40 #f05f40 #fff;
    }
    
    .nav-tabs {
        border-bottom: 1px solid #f05f40;
    }
    
    .btn-next-due-dates-selected{
        
        color: #f05f40;
        background-color: #e6e6e6;
        border-color: #f05f40;
    }
