   
    .btn-default {
        color: #696868;
        border-color: #696868;
    }
    
    .btn-default:hover, .btn-default:active {
        color: #f05f40;
        background-color: #e6e6e6;
        border-color: #f05f40;
    }
    
    label{
        color: #696868 !important;
        font-weight: 500 !important;
    }

    .btn-primary{
        color: white;
        background-color: #696868;
        border-color: #696868;
    }
    
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
        color: white;  
        background-color: #f05f40 !important;
        border-color: #f05f40 !important;
    }
   
    /*.form-control{*/
    /*    padding: 3px 3px !important;*/
    /*    height: 25px !important;*/
    /*}*/
    
     /*para el input autocomplete*/
    .ui-autocomplete{
		max-height: 400px;
		overflow-y : auto;
		overflow-x : hidden;
	}
	
	 /*para oculatr los botonoes del los input numericos*/
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }
    
    .placeholder-error::-webkit-input-placeholder { color: red;  }
    .placeholder-error:-moz-placeholder { color: red;  }
    .placeholder-error::-moz-placeholder { color: red;  }
    .placeholder-error:-ms-input-placeholder { color: red;  }