
/*.container-fluid {*/
/*	position: absolute;*/
/*	width: 89%; */
	/*top: 10px;*/
/*	left: 10%;*/
	/*z-index: 0;*/
/*}*/

/*@media (min-width: 900px) { */
	
/*	.container-fluid {*/
/*		position: absolute;*/
/*		width: 87%;*/
		/*top: 10px;*/
/*		left: 13%;*/
		/*z-index: 0;*/
/*	}*/
/* }*/
 
 
 body {
    /*overflow: auto !important;*/
    height: 100%  !important;
    min-height: 0px !important;
    width: 100%  !important;
    min-width: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}

