
.levelHolderClass{
	background-color: #d2d2d2 !important;
	
}

.multilevelpushmenu_wrapper .ltr{
	    box-shadow: 5px 0 5px -5px #696868 !important;
}

.multilevelpushmenu_wrapper a{
	color: #696868 !important;
	cursor: hand !important;

}
 
.multilevelpushmenu_wrapper h2{
	color: #696868 !important;
}

.multilevelpushmenu_wrapper ul{
	font-size: small !important;
}

.multilevelpushmenu_inactive{
	background-color: #bfbfbf !important;
}


.multilevelpushmenu_wrapper li{
	border-top: 1px solid #696868 !important;
	z-index: 2;
}

.multilevelpushmenu_wrapper li:hover{
		background-color: #bfbfbf  !important;
}
 
.multilevelpushmenu_wrapper li:last-child{
	border-bottom: 1px solid #696868 !important;
}

.multilevelpushmenu_wrapper .backItemClass{
    background-color: #bfbfbf !important;
	border-top: 1px solid #696868 !important;
}

nav#menu_multilevelpushmenu > .levelHolderClass{
	/*z-index: 9;*/
	  position: absolute;
}

.container-fluid {
	position: absolute;
	width: 89%; 
	/*top: 10px;*/
	left: 10%;
	z-index: 0;
}


#menu{
	height:100%;
	width: 100%;
	position: fixed !important;
	-webkit-backface-visibility: hidden;
	top: 0; 
    left: 0; 
    bottom:0;
}

@media only screen and (max-device-width : 730px) {
    .fixed {
        position:fixed;
        top:0;
        left:0;
    }
}


 
/* .levelHolderClass ul {*/
/*	height:calc(100vh - 214px) !important;*/
/*	overflow-x: hidden !important;*/
/*	overflow-y: auto !important;*/
/*}*/

.levelHolderClass ul {
	height: 100%;
	overflow: auto;
}


 