.levelHolderClass {
	background-color: #d2d2d2 !important;
	
}

.multilevelpushmenu_wrapper .ltr {
	box-shadow: none !important;
}

.multilevelpushmenu_wrapper a {
	color: #696868 !important;
	cursor: hand !important;
}

.multilevelpushmenu_wrapper h2 {
	color: #696868 !important;
}

.multilevelpushmenu_wrapper ul {
	font-size: small !important;
}

.multilevelpushmenu_inactive {
	background-color: #bfbfbf !important;
}

.multilevelpushmenu_wrapper li {
	border-top: 1px solid #696868 !important;
	z-index: 2;
}

.multilevelpushmenu_wrapper li:hover {
		background-color: #bfbfbf  !important;
}

.multilevelpushmenu_wrapper li:last-child {
	border-bottom: 1px solid #696868 !important;
}

.multilevelpushmenu_wrapper .backItemClass {
    background-color: #bfbfbf !important;
	border-top: 1px solid #696868 !important;
}

.levelHolderClass {
	padding-top: 10px !important;
}

.multilevelpushmenu_wrapper .levelHolderClass {
    height: 557px;
}

.multilevelpushmenu_wrapper, #menu {
	min-height: 0px !important;
	height: 558px !important;
}

