    .table {
        width: 100% !important; 
    }

    .table td {
        margin: 0px 0px 0px 0px !important;
        padding: 0px 5px 0px 5px !important;
        vertical-align: middle !important; 
    }

    tr.selected{
        background-color: #8eea99 !important;
    }
    
    .table-bordered td {
        border: 1px solid #a9a9a9;
    }
    
    .table-hover > tbody > tr.selected:hover {
        background-color: #8eea99 !important;
        /*color: #696868 !important;*/
    }
       
    .table-hover tbody tr:hover {
        background-color: rgba(105, 104, 104, 0.28) !important;
    }
    
   
    thead > tr > th{
       color: #696868 !important;
    }
    
    thead > tr > th:hover, thead > tr > th:active{
        color: #f05f40 !important;
    }
  
    
    .table td.left{
        text-align: left !important;
    }
    
    .table td.right{
        text-align: right !important;;
    }
    
    .table th{
        background-color: #c1c1c1 !important;
    }
   
    .table tr{
        font-stretch: condensed !important;
        font-size: small !important;
    } 

    .btns-tools{
        margin-left: 10px !important;
    }
    
    .dataTables_filter > label{
        margin-top: 5px !important;
    }
    .dataTables_length > label{
        margin-top: 5px !important;
    }
    
    .search-apply > span.glyphicon{
       color: white !important;
    }
    
    .search-apply{
        background-color: #f05f40 !important;
    }
    
    button.search-apply > span.glyphicon:hover{
       color: #f05f40 !important;
    }
  
    button.search-apply:focus{
       background-color: #f05f40 !important;
    }
   
    .locked{
        background-color: #e15555;
        color: white !important;
    }
    
    .locked td a{
        background-color: #e15555;
        color: white !important;
    }

    tr.locked > td > a.ip-link {
        color: white;
    }

    .locked td a.grey{
        background-color: white;
        color: #696868 !important;
    }

    .error-custom{
        background-color: #fff498;
        color: #696868 !important;
    }
    
     tr.no-sync{
        background-color: #fff498;
        color: #696868 !important;
    }
    
    
    .error-custom td a{
        background-color: #f8ff8a;
        color: #696868 !important;
    }

  
    .glyphicon-ok-sign{
        color: green !important;
    }
    
    .glyphicon-remove-sign{
        color: red !important;
    }
    
    .pagination>li>a, .pagination>li>span{
        color: #696868  !important;
    }
    
    .pagination>.active>a,
    .pagination>.active>a:focus,
    .pagination>.active>a:hover, 
    .pagination>.active>span,
    .pagination>.active>span:focus,
    .pagination>.active>span:hover{
        color: white !important;
        background-color: #f05f40 !important;
        border-color: #f05f40 !important;
    }
    
    .pagination>li>a:focus,
    .pagination>li>a:hover,
    .pagination>li>span:focus,
    .pagination>li>span:hover{
        color: #696868  !important;
        border-color: #f05f40 !important;
    }
    
    td > span.green{
        color: green !important;
      }
    
    td > span.red{
        color: red !important;
    }
    
     td > i.green{
        color: green !important;
      }
    
    td > i.red{
        color: red !important;
    }
   
    .table > thead > tr > th {
        text-align: center !important;
        vertical-align: middle !important;
    }
    
    .table > tbody > tr > td {
        text-align: center !important;
    }
    
    
    .status{
        border-radius: 4px;
        display: inline-block;
        font-weight: bold;
        /*color: white;*/
        line-height: 1em;
        font-size: 10.5px;
        padding: 3px 0;
        margin: 1px 0px 1px 0px;
        width: 100%;
         
    }
    
    .my_label{
        border-radius: 4px;
        display: inline-block;
        font-weight: bold;
        color: white;
        line-height: 1em;
        font-size: 12px;
        padding: 3px 0;
        margin: 0px 0px 0px 0px;
        width: 100%;
         
    }
    
    .cp{
        border: 1px solid #f38a73;
        background-color: #f38a73;
    }
    
    .cc{
          border: 1px solid gray;
         background-color: gray;    }
    
    .i{
          border: 1px solid purple;
         background-color: purple;
    }
    
    .plus1M{
         border: 1px solid #f05f40;
         background-color: #f05f40;
             width: 80%;
    }
    
    .plus2M{
          border: 1px solid #f05f40;
         background-color: #f05f40;
             width: 80%;
    }
    .plus3M{
          border: 1px solid #f05f40;
         background-color: #f05f40;
          width: 80%;    
    }

    .my-hidden {
        display: none;
    }
    
    .dataTables_processing{
        padding: 0px !important;
    }