<?php $this->extend('/CashEntities/point_sale_views/tabs'); ?>

<?php $this->start('other_payment'); ?>

<style type="text/css">

    .nav-link {
        cursor: pointer;
    }

    .nav-tabs {
        border-bottom: 1px solid #f05f40;
    }

    .btn-next-due-dates-selected {
        color: #f05f40;
        background-color: #e6e6e6;
        border-color: #f05f40;
    }

</style>

<div class="col-xl-12">

    <div class="row">
        <div class="col-md-12">
            <legend class="sub-title-sm"><?= __('Parte N° {0}',  $lastApertureNumber ) ?></legend>
        </div>
    </div>

    <div id="btns-tools-other-payments">
        <div class="text-right btns-tools-other-payments margin-bottom-5">

            <?php
            
                 echo $this->Html->link(
                    '<span class="fas fa-sync-alt" aria-hidden="true"></span>',
                    'javascript:void(0)',
                    [
                    'title' => 'Actualizar la tabla',
                    'class' => 'btn btn-default btn-update-table-other ml-1 ',
                    'escape' => false
                ]);
                
                echo $this->Html->link(
                    '<span class="glyphicon icon-plus" aria-hidden="true"></span>',
                    'javascript:void(0)',
                    [
                    'id' => "btn-inoutchash-other",
                    'title' => 'Cargar un ingreso o egreso',
                    'class' => 'btn btn-default ml-1',
                    'escape' => false
                ]);
            
            
                echo $this->Html->link(
                    '<span class="glyphicon icon-filter" aria-hidden="true"></span>',
                    'javascript:void(0)',
                    [
                    'title' => 'Filtar por Columnas',
                    'class' => 'btn btn-default btn-filter-column-other',
                    'data-toggle' => 'modal', 'data-target' => '#modal-filter-other',
                    'escape' => false
                ]);
                
                echo $this->Html->link(
                    '<i class="fas fa-exchange-alt" ></i>',
                    'javascript:void(0)',
                    [
                    'id' => "btn-add-transaction-other",
                    'title' => 'Enviar dinero a otro usuario',
                    'class' => 'btn btn-default ml-1',
                    'escape' => false
                ]);

                echo $this->Html->link(
                    '<span class="glyphicon icon-file-excel" aria-hidden="true"></span>',
                    'javascript:void(0)',
                    [
                    'title' => 'Exportar tabla',
                    'class' => 'btn btn-default btn-export-other-payment ml-1',
                    'escape' => false
                ]);
            ?>

        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered" id="table-other-payment">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Tipo</th>
                        <th>Cód.</th>
                        <th>Cliente</th>
                        <th>Concepto</th>
                        <th>Ingreso</th>
                        <th>Egreso</th>
                        <th>Forma de Pago</th>
                        <th>Saldo</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<?php

    $types = [
        ''               => 'Seleccione Tipo',
        'TRANSFERENCIA'  => 'TRANSFERENCIA',
        'RENDICIÓN'      => 'RENDICIÓN',
        'COMPRA'         => 'COMPRA',
        'CORRECCIÓN'     => 'CORRECCIÓN',
        'PAGO A TERCERO' => 'PAGO A TERCERO',
        'CAJA CHICA'     => 'CAJA CHICA',
        'SUELDOS'        => 'SUELDOS',
        'OTRO'           => 'OTRO'
    ];

    $types_movements = [
        ''               => 'Seleccione Tipo',
        'TRANSFERENCIA'  => 'TRANSFERENCIA',
        'RENDICIÓN'      => 'RENDICIÓN',
        'COMPRA'         => 'COMPRA',
        'CORRECCIÓN'     => 'CORRECCIÓN',
        'PAGO A TERCERO' => 'PAGO A TERCERO',
        'APERTURA'       => 'APERTURA',
        'CAJA CHICA'     => 'CAJA CHICA',
        'SUELDOS'        => 'SUELDOS',
        'OTRO'           => 'OTRO'
    ];

    $concepts = [
        ''                => 'Editar el Concepto',
        'Instalación'     => 'Instalación',
        'Soporte técnico' => 'Soporte técnico',
        'Almuerzo'        => 'Almuerzo',
    ];
?>

<div class="modal fade" id="modal-filter-other" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filtrar por columnas (otros)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <?= $this->Form->create() ?>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="created">Fecha</label>
                                <div class='input-group date' id='created-other-payment-datetimepicker'>
                                    <span class="input-group-addon mr-0">Fecha</span>
                                    <input name="input-created-other-payment" id="input-created-other-payment" type='text' class="column_search form-control datetimepicker" data-column="0" />
                                    <span class="input-group-addon mr-0">
                                        <span class="glyphicon icon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <?= $this->Form->input('customer_code', ['label' => __('Cód.'), 'class'=> 'column_search', 'data-column' => 2]) ?>
                            <?= $this->Form->input('customer.name', ['label' => __('Cliente'), 'class'=> 'column_search', 'data-column' => 3]) ?>
                        </div>
                        <div class="col-md-6">
                            <?= $this->Form->input('concept', ['label' => __('Concepto'), 'class'=> 'column_search', 'data-column' => 4]) ?>
                            <?= $this->Form->input('in_value', ['label' => __('Ingreso'), 'class'=> 'column_search', 'data-column' => 5]) ?>
                            <?= $this->Form->input('payment_method_id', ['label' => __('Forma de Pago'), 'class'=> 'column_search', 'data-column' => 7, 'options' => $payment_methods]) ?>
                        </div>

                  </div>

                <?= $this->Form->end() ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-clear-filter" >Limpiar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-inoutchash-other" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Ingreso/Egreso (otros)</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <?= $this->Form->create(null,  ['url' => false, 'id' => 'form-addInOutCash-other']) ?>

                    <fieldset>

                        <div class="row">

                            <div class="col-xl-6">
                                <?php echo $this->Form->input('created', ['label' => 'Fecha', 'type' => 'text', 'readonly' => 'true', 'value' => date('d/m/Y', time())]); ?>
                            </div>

                            <div class="col-xl-6">
                                <?php echo $this->Form->input('type', ['label' => 'Tipo', 'options' => $types, 'required' => true]); ?>
                            </div>

                            <div class="col-xl-6">
                                <?php echo $this->Form->input('in_value', ['label' => 'Ingreso', 'type' => 'number', 'min' => 0, 'step' => 0.01, 'required' => true]); ?>
                            </div>

                            <div class="col-xl-6">
                                <?php echo $this->Form->input('out_value', ['label' => 'Egreso', 'type' => 'number', 'min' => 0, 'step' => 0.01, 'required' => true]); ?>
                            </div>

                            <div class="col-xl-12">
                                <?php echo $this->Form->input('concept', ['label' => 'Concepto', 'required' => true]); ?>
                            </div>

                         </div>

                    </fieldset>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <?= $this->Form->button(__('Cargar'), ['id' => 'btn-confirm-other', 'class' => 'btn-success float-right' ]) ?>

                <?= $this->Form->end() ?>

            </div>
        </div>
    </div>
</div>

<div id="modal-add-transaction-other" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Transferir dinero (otros)</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                 <?= $this->Form->create(null, ['url' => ['controller' => 'CashEntities' , 'action' => 'addTransactionOther'], 'id' => "form-add-transaction-other"]) ?>

                    <fieldset>

                        <div class="row">

                            <div class="col-xl-6">
                                <?php echo $this->Form->input('created', ['label' => 'Fecha', 'type' => 'text', 'readonly' => 'true', 'value' => date('d/m/Y', time())]); ?>
                            </div>

                            <div class="col-xl-6">
                                <?php echo $this->Form->input('user_destination_id', ['label' => 'Usuario destino', 'options' => $users_destinations_list, 'required' => true]); ?>
                            </div>

                            <div class="col-xl-6">
                                <?php echo $this->Form->input('value', ['label' => 'Valor a transferir', 'type' => 'number', 'min' => 0, 'step' => 0.01, 'required' => true]); ?>
                            </div>

                            <div class="col-xl-12">
                                <?php echo $this->Form->input('concept', ['label' => 'Concepto', 'required' => true]); ?>
                            </div>

                         </div>

                    </fieldset>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <?= $this->Form->button(__('Cargar'), ['id' => 'btn-confirm-transactions-other', 'class' => 'btn-success float-right' ]) ?>

                <?= $this->Form->end() ?>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript"> 

    var cash_entity = <?= json_encode($cash_entity) ?>;
    var last_aperture_number = <?= json_encode($lastApertureNumber) ?>;

    function clearFromAddTransactionOther() {

        $('#modal-add-transaction-other #type').val('');
        $('#modal-add-transaction-other #user-destination-id').val('');
        $('#modal-add-transaction-other #value').val(0);
        $('#modal-add-transaction-other #concept').val('');
    }

    $(document).ready(function () {

        $('#modal-inoutchash-other #in-value').keyup(function() {
           if ($(this).val() > 0) {
               $('#out-value').val(0.00);
           }
        });

        $('#modal-inoutchash-other #out-value').keyup(function() {
           if ($(this).val() > 0) {
               $('#in-value').val(0.00);
           }
        });

        //formating tabla de cuenta corriente
        $('#table-other-payment').removeClass('display');

		var table_other_payment = $('#table-other-payment').DataTable({
		    "order": [[ 0, 'desc' ]],
		    "autoWidth": true,
		    "scrollY": '450px',
		    "scrollX": true,
		    "scrollCollapse": true,
		    "deferRender": true,
		    "ajax": {
                "url": "/ispbrain/IntOutCashsEntities/get_all_by_cash_entity_other.json",
                "dataSrc": "movements",
                "data": function ( d ) {
                    return $.extend( {}, d, {
                        "cash_entity_id": cash_entity.id,
                    });
                },
                "error": function(c) {
                    switch (c.status) {
                        case 400:
                            flag = false;
                            generateNoty('warning', 'Ha ocurrido un error.');
                            break;
                        case 401:
                            flag = false;
                            generateNoty('warning', 'Error, no posee una autorización.');
                            break;
                        case 403:
                            flag = false;
                            generateNoty('warning', 'La sesión ha expirado. Por favor ingrese su credenciales.');

                        	setTimeout(function() { 
                                window.location.href = "/ispbrain";
                        	}, 3000);
                            break;
                    }
                }
		    },
            "columns": [
                { 
                    "data": "created",
                    "render": function ( data, type, row ) {
                        if (data) {
                            var created = data.split('T')[0];
                            created = created.split('-');
                            var time = data.split('T')[1].split('-')[0].split(':');
                            return created[2] + '/' + created[1] + '/' + created[0] + ' ' + time[0] + ':' + time[1] + ' hs';
                        }
                    }
                },
                { 
                    "data": "type"
                },
                { 
                    "data": "data",
                    "render": function ( data, type, row ) {
                        if (data) {
                            return pad(data, 5);
                        }
                        return '';
                    }
                },
                { 
                    "data": "customer_name"
                },
                { 
                    "data": "concept"
                },
                { 
                    "data": "in_value",
                    "render": $.fn.dataTable.render.number( '.', ',', 2, '' ),
                },
                { 
                    "data": "out_value",
                    "render": $.fn.dataTable.render.number( '.', ',', 2, '' ),
                },
                {
                    "data": "payment_method_id",
                    "type": "options_obj",
                    "options": sessionPHP.payment_getway,
                    "render": function ( data, type, row ) {
                        var payment_method_name = "";
                        $.each(sessionPHP.payment_getway.methods, function( index, value ) {
                            if (value.id == data) {
                                payment_method_name = value.name;
                            }
                        });
                        return payment_method_name;
                    }
                },
                { 
                    "data": "saldo_other",
                    "render": $.fn.dataTable.render.number( '.', ',', 2, '' ),
                },
            ],
		    "columnDefs": [
                 { "type": "date-custom", "targets": [0] },
                 { "width": "10%", "targets": [0, 2, 5] },
                 { "type": "numeric-comma", "targets": [5,7] }
             ],
		    "language": dataTable_lenguage,
            "pagingType": "numbers",
            "lengthMenu": [[100, 500, 1000, -1], [100, 500, 1000, "Todas"]],
            "dom":
    	    	"<'row'<'col-xl-5'l><'col-xl-3'f><'col-xl-4 tools'>>" +
        		"<'row'<'col-xl-12'tr>>" +
        		"<'row'<'col-xl-5'i><'col-xl-7'pb>>",
		});

		$('#table-other-payment_wrapper .tools').append($('#btns-tools-other-payment').contents());

        $('#btns-tools-other-payment').show();

        $('.column_search').on( 'keyup', function () {

            table_other_payment
                .columns( $(this).data('column') )
                .search( this.value )
                .draw();

            checkStatusFilter();
        });

        $('#created-other-payment-datetimepicker').datetimepicker({
            locale: 'es',
            format: 'DD/MM/YYYY'
        }).on('dp.change', function (ev) {

            table_other_payment
                .columns( 0 )
                .search( $('#input-created-other-payment').val() )
                .draw();

            checkStatusFilter();
        });

        $('#modal-filter-other select[name="payment_method_id"]').change(function() {

            table_other_payment
                .columns( 7 )
                .search( $(this).val() )
                .draw();

            checkStatusFilter();
        });

        $('#modal-filter-other .btn-clear-filter').click(function() {

            $('#modal-filter-other .column_search').val('');
            table_other_payment.search( '' ).columns().search( '' ).draw();
            checkStatusFilter();
        });

        var username = '<?= $cash_entity->user->username ?>';

        $(".btn-export-other-payment").click(function() {

            bootbox.confirm('Se descargará un archivo Excel', function(result) {
                if (result) {

                   $('#table-other-payment').tableExport({
                       tableName: 'Parte ' + last_aperture_number + '- Resp. ' + username,
                       fileName: 'lalal',
                       type:'excel',
                       escape:'false',
                       columnNumber: [5] 
                   });
                } 
            });
        });

        $('.btn-update-table-other').click(function() {
             if (table_other_payment) {
                table_other_payment.ajax.reload();
                updateTotales();
            }
        });

        $('#btn-inoutchash-other').click(function() {

            if (!cash_entity.open) {
                generateNoty('warning', 'La caja está cerrada.');
            } else {

                $('#modal-inoutchash-other #type').val('');
                $('#modal-inoutchash-other #in-value').val('0');
                $('#modal-inoutchash-other #out-value').val('0');
                $('#modal-inoutchash-other #concept').val('');
                $('#modal-inoutchash-other').modal('show');
            }
        });

        $('#form-addInOutCash-other').submit(function(e) {

            e.preventDefault();

            if (!cash_entity.open) {

                generateNoty('warning', 'La caja está cerrada.');

            } else {

                if (parseFloat($('#form-addInOutCash-other #in-value').val()) == 0 && parseFloat($('#form-addInOutCash-other #out-value').val()) == 0) {

                    generateNoty('warning', 'Debe ingresar un monto.');

                } else {

                    if (parseFloat(cash_entity.cash_other.toFixed(2)) < parseFloat($('#form-addInOutCash-other #out-value').val())) {

                        generateNoty('warning', 'El monto de extracción debe ser menor o igual al saldo de caja.');

                    } else {

                        var send_data = {};

                        var form_data = $(this).serializeArray();
                        $.each(form_data, function(i, val) {
                            send_data[val.name] = val.value;
                        });

                        $('#form-addInOutCash-other #btn-confirm-other').addClass('d-none');

                        bootbox.confirm('Confirmar', function(result) {

                            if (result) {

                                $.ajax({
                                    url: "<?= $this->Url->build(['controller' => 'IntOutCashsEntities', 'action' => 'addInOutCashOther']) ?>",
                                    type: 'POST',
                                    dataType: "json",
                                    data: JSON.stringify(send_data),
                                    success: function(data) {

                                        if (data.cashEntity) {
                                            cash_entity = data.cashEntity;

                                            $('#modal-inoutchash-other').modal('hide');
                                            $('#form-addInOutCash-other #btn-confirm-other').removeClass('d-none');

                                            generateNoty('success', 'El movimiento se registró con éxito.');

                                            table_other_payment.ajax.reload();

                                            updateTotales();

                                        } else {
                                            generateNoty('error', 'Error al intentar registrar el movimiento');
                                        }

                                    },
                                    error: function (jqXHR) {
                                        if (jqXHR.status == 403) {

                                        	generateNoty('warning', 'La sesión ha expirado. Por favor ingrese su credenciales.');

                                        	setTimeout(function() { 
                                                window.location.href = "/ispbrain";
                                        	}, 3000);

                                        } else {

                                            updateTotales();

                                        	generateNoty('error', 'Error al intentar registrar el movimiento');
                                        }
                                    }
                                });
                            } else {
                                $('#form-addInOutCash-other #btn-confirm-other').removeClass('d-none');
                            }
                        });
                    }
                }
            }
        });

        $('#btn-add-transaction-other').click(function() {

            if (!cash_entity.open) {
                generateNoty('warning', 'La caja está cerrada.');
            } else {

                clearFromAddTransactionContado();
                $('#modal-add-transaction-other').modal('show');
            }
        });

        $('#form-add-transaction-other').submit(function(e) {
            var currentForm = this;
            $('#btn-confirm-transactions-other').addClass('d-none');  
            e.preventDefault();
            bootbox.confirm('Confirmar', function(result) {
                if (result) {

                    currentForm.submit();
                } else {
                    $('#btn-confirm-transactions-other').removeClass('d-none');  
                }
            });
        });

        $('a[id="other_payment-tab"]').on('shown.bs.tab', function (e) {
            table_other_payment.draw();
            table_other_payment.ajax.reload();
        });

    });

    // Jquery draggable modals
    $('.modal-dialog').draggable({
        handle: ".modal-header"
    });

</script>

<?php $this->end(); ?>
