<style type="text/css">

    .icon-hammer {
        font-size: -webkit-xxx-large;
    }

</style>

<div class="card text-white bg-Secondary  m-3 mx-auto" style="max-width: 20rem;">

  <div class="card-body">
      <div class="row">
          <div class="col-xl-12 text-center">
               <span class="glyphicon icon-hammer text-white" aria-hidden="true"></span>
          </div>
          <div class="col-xl-12 text-center">
                <h4 class="card-title">Vista en Construcción</h4>
          </div>
      </div>
  </div>
</div>
