<script type="text/javascript">

    $('#menu').closest('div').remove();

    $('#content1').attr('class', 'col-12');

</script>

<script type="text/javascript">

    document.getElementById("print-iframe").contentWindow.print();

</script>