	/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/07/2016 18:40
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  /*font-size: 20px;*/
  /*font-style: normal;*/
  /*margin-left: 20px;*/
}

.flaticon-add-documents:before { content: "\f100"; }
.flaticon-app:before { content: "\f101"; }
.flaticon-arrow:before { content: "\f102"; }
.flaticon-box:before { content: "\f103"; }
.flaticon-business:before { content: "\f104"; }
.flaticon-business-1:before { content: "\f105"; }
.flaticon-business-2:before { content: "\f106"; }
.flaticon-can:before { content: "\f107"; }
.flaticon-close:before { content: "\f108"; }
.flaticon-cogwheel:before { content: "\f109"; }
.flaticon-cross:before { content: "\f10a"; }
.flaticon-draw:before { content: "\f10b"; }
.flaticon-draw-1:before { content: "\f10c"; }
.flaticon-exclamation:before { content: "\f10d"; }
.flaticon-interface:before { content: "\f10e"; }
.flaticon-interface-1:before { content: "\f10f"; }
.flaticon-interface-2:before { content: "\f110"; }
.flaticon-interface-3:before { content: "\f111"; }
.flaticon-interface-4:before { content: "\f112"; }
.flaticon-line:before { content: "\f113"; }
.flaticon-line-1:before { content: "\f114"; }
.flaticon-location:before { content: "\f115"; }
.flaticon-lock:before { content: "\f116"; }
.flaticon-lock-1:before { content: "\f117"; }
.flaticon-lock-2:before { content: "\f118"; }
.flaticon-mark:before { content: "\f119"; }
.flaticon-mark-1:before { content: "\f11a"; }
.flaticon-medical:before { content: "\f11b"; }
.flaticon-multimedia:before { content: "\f11c"; }
.flaticon-multimedia-1:before { content: "\f11d"; }
.flaticon-multimedia-2:before { content: "\f11e"; }
.flaticon-multimedia-3:before { content: "\f11f"; }
.flaticon-multimedia-4:before { content: "\f120"; }
.flaticon-multimedia-5:before { content: "\f121"; }
.flaticon-multimedia-6:before { content: "\f122"; }
.flaticon-music:before { content: "\f123"; }
.flaticon-new-document:before { content: "\f124"; }
.flaticon-power:before { content: "\f125"; }
.flaticon-profile:before { content: "\f126"; }
.flaticon-profile-1:before { content: "\f127"; }
.flaticon-profile-2:before { content: "\f128"; }
.flaticon-profile-3:before { content: "\f129"; }
.flaticon-profile-4:before { content: "\f12a"; }
.flaticon-search:before { content: "\f12b"; }
.flaticon-signs:before { content: "\f12c"; }
.flaticon-signs-1:before { content: "\f12d"; }
.flaticon-signs-2:before { content: "\f12e"; }
.flaticon-signs-3:before { content: "\f12f"; }
.flaticon-signs-4:before { content: "\f130"; }
.flaticon-signs-5:before { content: "\f131"; }
.flaticon-signs-6:before { content: "\f132"; }
.flaticon-signs-7:before { content: "\f133"; }
.flaticon-technology:before { content: "\f134"; }
.flaticon-time:before { content: "\f135"; }
.flaticon-tool:before { content: "\f136"; }