 @import url(https://fonts.googleapis.com/css?family=Droid+Sans);
 
.btn-continue{
  
  color: white;
  border: 1px #fff solid;
  border-radius: 5px;1|
  padding: 5px;
  text-decoration: none;
  outline: none;
  background-color: #f05f40;


}