


  
      <div class="row justify-content-center mb-5">
    
            <div class="col-xl-5">
                <form enctype="multipart/form-data" action="/ispbrain/Customers/uploadFileEditMasive" method="POST">
                    <h4>Subir archivo</h4>
                    <input name="upload[]" type="file" multiple="multiple" />
                    <?php echo $this->Form->input('_csrfToken', ['type' => 'hidden', 'value' => $this->request->getParam('_csrfToken')]); ?>
                    <input type="submit" value="Upload"></input>
                  </form>
            </div>
      
       </div>

       
        <div class="row justify-content-center mb-5">
    
            <div class="col-xl-5">
                
             
                
                <div class="row mb-1">
               
                  
                     <div class="col-3">
                        <?php
                            echo $this->Html->link(
                            'Importar',
                            ['controller' => 'Customers', 'action' => 'editMasive'],
                            [
                            'title' => '',
                            'class' => 'btn btn-success w-100',
                            'escape' => false
                            ]);
                        ?>
                    </div>
                   
                </div>
                
            </div>
           
        </div>